<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>
<head>
	<meta charset="utf-8">
	<title>Capacity Plan</title>
	<meta name="viewport" content="width=device-width,minimum-scale=1">
	<link rel="stylesheet" th:href="@{/public/amazeui/css/amazeui.min.css}" />
	<link rel="stylesheet" th:href="@{/public/amazeui/css/admin.css}">

	<script type="text/javascript" th:src="@{/public/js/jquery-3.4.1.js}"></script>
	<script type="text/javascript" th:src="@{/public/js/fusioncharts.js}"></script>
	<script type="text/javascript" th:src="@{/public/js/jquery-fusioncharts.js}"></script>
	<script type="text/javascript" th:src="@{/public/js/themes/fusioncharts.theme.fusion.js}"></script>

	<script th:src="@{/public/amazeui/js/amazeui.min.js}"></script>
	<script th:src="@{/public/amazeui/js/app.js}"></script>
</head>
<body>		
	<div th:replace="navigator"></div>
<div class="am-cf admin-main">
			<div class="admin-content">
					<div class="admin-content-body">
						<div class="am-cf am-padding am-padding-bottom-0">
							<div class="am-fl am-cf">
								<strong class="am-text-primary am-text-lg">Activity plan</strong> /
								<small>add</small>
							</div>
						</div>
				
						<hr>
				
						<div class="am-tabs am-margin" data-am-tabs>
							<ul class="am-tabs-nav am-nav am-nav-tabs">
								<li class="am-active"><a href="#tab1">Basic Information</a></li>
								<li><a href="#tab2">Others</a></li>
							</ul>
				
							<div class="am-tabs-bd">
								<div class="am-tab-panel am-fade am-in am-active" id="tab1">
									<div class="am-g am-margin-top">
										<div class="am-u-sm-4 am-u-md-2 am-text-right">
											Activity Name
										</div>
										<div class="am-u-sm-8 am-u-md-4">
											<input type="text" class="am-input-sm" size="60">
										</div>
										<div class="am-hide-sm-only am-u-md-6">* Required</div>
									</div>

									<div class="am-g am-margin-top">
										<div class="am-u-sm-4 am-u-md-2 am-text-right">Role</div>
										<div class="am-u-sm-8 am-u-md-10">
											<select data-am-selected="{btnSize: 'sm'}">
												<option value="ba">BA</option>
												<option value="pm">PM</option>
												<option value="techlead">Tech Lead</option>
												<option value="frontend">Frontend Developer</option>
												<option value="backend">Backend Developer</option>
											</select>
										</div>
									</div>
				
									<div class="am-g am-margin-top">
										<div class="am-u-sm-4 am-u-md-2 am-text-right">Is Planned</div>
										<div class="am-u-sm-8 am-u-md-10">
											<div class="am-btn-group" data-am-button>
												<label class="am-btn am-btn-default am-btn-xs">
													<input type="radio" name="options" id="yes"> Yes
												</label>
												<label class="am-btn am-btn-default am-btn-xs">
													<input type="radio" name="options" id="no"> No
												</label>
											</div>
										</div>
									</div>
									
				
									<div class="am-g am-margin-top">
										<div class="am-u-sm-4 am-u-md-2 am-text-right">
											From Date
										</div>
										<div class="am-u-sm-8 am-u-md-10">
											<form action="" class="am-form am-form-inline">
												<div class="am-form-group am-form-icon">
													<i class="am-icon-calendar"></i>
													<input type="date" class="am-form-field am-input-sm" placeholder="Date">
												</div>
											</form>
										</div>
									</div>
				
									<div class="am-g am-margin-top">
										<div class="am-u-sm-4 am-u-md-2 am-text-right">
											To Date
										</div>
										<div class="am-u-sm-8 am-u-md-10">
											<form action="" class="am-form am-form-inline">
												<div class="am-form-group am-form-icon">
													<i class="am-icon-calendar"></i>
													<input type="date" class="am-form-field am-input-sm" placeholder="Date">
												</div>
											</form>
										</div>
									</div>				
								</div>
				
								<div class="am-tab-panel am-fade" id="tab2">
									<form class="am-form">
											<div class="am-u-sm-4 am-u-md-2 am-text-right">
											Intro
											</div>
											<div class="am-u-sm-8 am-u-md-4">
												<input type="text" class="am-input-sm">
											</div>				
									</form>
								</div>								
				
							</div>
						</div>
				
						<div class="am-margin">
							<button type="button" class="am-btn am-btn-primary am-btn-xs">Submit</button>
							<button type="button" class="am-btn am-btn-primary am-btn-xs">Cancel</button>
						</div>
					</div>
				</div>
				<!-- content end -->
		</div>
</body>



<script>
$( function() {


} );
</script>
</html>